<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="Центр медицины катастроф" />
    <meta name="description" content="Центр медицины катастроф - Казённое учреждение Ханты-Мансийского автономного округа – Югры" />

    <link href="/src/css/main.css" type="text/css" rel="stylesheet" />
    <link href="/src/view/404/style.css" type="text/css" rel="stylesheet" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://api-maps.yandex.ru/2.1/?apikey=b36eb031-03ba-4622-ad65-299fc50486e0&lang=ru_RU"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="icon" href="/src/img/favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Центр медицины катастроф - Казённое учреждение Ханты-Мансийского автономного округа – Югры</title>
</head>
<body>
<main class="main">
    <div class="not-found">
        <div class="not-found__left">
            <div class="not-found__block">
                <div class="not-found__block-title">
                    <div class="numb-not-found">404</div>
                    <div class="not-found__text">страница не найдена или была удалена</div>
                </div>
                <div class="search">
                    <div class="search__title">Попробуйте воспользоваться поиском</div>
                    <div class="search__form">
                        <input placeholder="Поиск">
                        <img src="/src/img/h_search.svg" alt="">
                    </div>

                </div>
            </div>
            <div class="not-found__line"></div>
        </div>
        <div class="not-found__right">
            <div class="not-found__right-title">Или перейдите на главную страницу нашего сайта</div>
            <button class="not-found__btn">На главную</button>
            <img src="/src/img/img-404.png" alt="">
        </div>
    </div>
    <div class="not-found-mobile">
        <div class="not-found__block">
            <div class="not-found__block-title">
                <div class="numb-not-found">404</div>
                <div class="not-found__text">страница не найдена или была удалена</div>
            </div>
            <div class="search">
                <div class="search__title">Попробуйте воспользоваться поиском</div>
                <div class="search__form">
                    <input placeholder="Поиск">
                    <img src="/src/img/h_search.svg" alt="">
                </div>

            </div>
        </div>
        <div class="not-found__right-title">Или перейдите на главную страницу нашего сайта</div>
        <button class="not-found__btn">На главную</button>
        <img src="/src/img/img-404.png" alt="">
    </div>
</main>
</body>
</html>