.main-content_mobile {
    display: none;
}
.main-top__img {
    max-width: 1740px;
    margin: 40px 0;
}
.main-top__img img {
    width: 100%;
}
.main-content__img-wrapper {
    max-width: 1067px;
}
.main-content__img-wrapper img{
    width: 100%;
}
.breadcrumb-active{
    color: #9D9D9D;
}
.main-content {
    display: flex;
    margin-bottom: 41px;
}
.main-content__left {
    margin-right: 80px;
}
.main-content__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-content__block {
    width: 593px;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.72px;
    border-radius: 20px;
    padding: 60px;
    background-color: #597D69;
}

.main-content__block-text {
    display: flex;
}

.main-content__block-text span {
    margin-right: 10px;
}
.main-content__right-text {
    font-size: 18px;
    font-weight: bold;
    border-left: 1px solid #597d69;
    padding-left: 40px;
}
.main-content__text {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 160%;
    margin: 10px 0;
}
.uppercase {
    text-transform: uppercase;
}

.main-content__left img {
    margin: 10px 0;
}
.slider__top {
    align-items: center;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #597d69;
}
.slider__title {

    font-size: 36px;
    font-weight: 400;
    line-height: 150%; /* 54px */
    letter-spacing: 0.72px;
    text-transform: uppercase;
}
.slider__arrow-l {
    margin-right: 40px;
    transform: rotate(180deg);
}
.slider__arrow-l:hover {
    background-image: url('f-arrow-r-h.svg');
}
.slider__wrapper {
    overflow: hidden;
    display: flex;
    margin: 40px 0;
}
.slider__item {
    margin-right: 40px;
}
.map {
    max-width: 1740px;
    margin: 40px 0 120px 0;
}
.map img{
    width: 100%;
}
.owl-nav img {
    cursor: pointer;
}


@media (max-width: 1919px) {
    .main-content__block {
        max-width: 428px;
        padding: 30px;
    }
}

@media (max-width: 1364px) {
    .breadcrumbs {
        display: none;
    }
    .main-top__title {
        margin: 40px 0;
    }
    .main-content {
        display: none;
    }
    .main-content_mobile {
        display: block;
        flex-direction: column;
    }
    .main-content__block {
        border-radius: 10px;
        max-width: none;
        width: auto;
    }
    .main-content__text {
        font-size: 18px;
    }
    .h3{
        font-size: 18px;
        letter-spacing: 0.36px;
    }
    .main-content__right-text{
        border: none;
        padding: 20px 0;
    }
    .slider__top {
        padding: 20px 0;
    }
    .slider__title {

        font-size: 26px;
        line-height: 150%;
        letter-spacing: 0.52px;
    }
    .slider__slider {
        margin: 20px 0;
    }
}

@media (max-width: 767px) {
    .slider__title {
        font-size: 20px;
    }
}